:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
}

header {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  color: white;
  gap: 7px;
}

header > h1 {
  font-size: .875rem;
  font-weight: 500;
}

.logo {
  width: 34px;
}